@charset "UTF-8";
html{
	background: url("Terraria Page Images/background.jpg") no-repeat center fixed;
	background-size: cover
		
}
#wrapper {
    width: 960px;
	height: 1000px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
}
 
h1{
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: rgba(0,0,0,0.50);
    padding: 10px;
    text-align: center;
    border-style: solid;
}
h1:hover{
	background-color: rgba(144,30,210,0.50)
}


a{
	color: white;
	text-decoration: none
}
h2{
	color: white;
	font-family: 'Press Start 2P', cursive;
	padding-top: 50px;
	text-decoration: underline;
	
}
h3{color:white;
font-family: 'Press Start 2P', cursive;
font-size: 17px;
}
p{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	width: 639px;
	font-size: 20px;
	padding: 5px;
	background-color: rgba(0,0,0,0.50)
}
#wrapper header p {
}
.xbox {padding-left: 300px;
}

.p2{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	width: 639px;
	font-size: 20px;
	float: right;
}
.xbox1{
	font-size: 15px;
		
}
.p3{font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	width: 639px;
	font-size: 20px;
	padding: 5px;
float: left}
.xbox2{padding-left: 300px
}
.p4{font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	width: 639px;
	font-size: 20px;
	float: right;}
.xbox3{
	
}
.nav:hover{
	background-color: rgba(144,30,210,0.50)
}
footer {position: relative;
top: 500px;
left: -100;
}